@import "tailwindcss";

@theme inline {
  --font-cyber-main: var(--font-cyber-main);
  --color-cyber-lightgreen: #dfffe0;
  --color-cyber-neongreen: #00ff00;
  --color-cyber-darkgreen: #00ff001a;
  --color-cyber-black: #0000001a;
  --color-cyber-white: #ffffff;
  --color-cyber-red: #ff0000;
  --color-cyber-darkred: #ff00001a;
}

body {
  background-image: url("/cyber_background.webp");
  background-position: top;
  color: var(--color-cyber-white);
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
}

.terminal-content {
  scrollbar-width: none;
}

.terminal-content::-webkit-scrollbar {
  display: none;
}

@layer components {
  /* Common styles for both scrollbars */
  .scrollbar-base::-webkit-scrollbar {
    width: 8px; /* This is w-2 */
  }

  .scrollbar-base::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 27px;
  }

  .scrollbar-base::-webkit-scrollbar-thumb {
    border-radius: 9999px; /* This is rounded-full */
  }

  /* Red Theme Specific */
  .scrollbar-red::-webkit-scrollbar-thumb {
    @apply bg-cyber-red;
  }

  /* Non-Red (Default) Theme Specific */
  .scrollbar-default::-webkit-scrollbar-thumb {
    @apply bg-cyber-lightgreen;
  }
}
